{% if include.abilities %}
  <table>
    <thead>
      <tr>
        <th class="align-left">Ability</th><th>Potency</th><th class="align-left">Effect</th>
      </tr>
    </thead>
    {% for ability in include.abilities %}
      <tr>
        <td class="abilityCell">
          <strong>{{ ability.name }}</strong>
          {% if ability.warning %}
            {% assign warning = site.data.warnings[ability.warning] %}
            <img class="warningIcon"
                src="{{ '/assets/images/warnings/' | append: warning.image | relative_url }}"
                alt="{{ warning.description }}" title="{{ warning.description }}"
                width="16" height="16">
          {% endif %}
        </td>
        <td class="align-center">
          {% include damage.html damage=ability.potency type=ability.type %}
        </td>
        <td>{{ ability.description }}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}