{% assign ninth_floor = include.start_floor | plus: 8 %}
<div class="flexSplit">
  <h2>Enemies</h2>
  <div>
    <label for="floorSelect">Highlight floor:</label>
    <select id="floorSelect">
      <option value="">None</option>
      {% for floor in (include.start_floor..ninth_floor) %}
        <option value="{{ floor }}">{{ floor }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="hscroll">
<table class="enemyList">
  <thead>
    <tr>
      {% for floor in (1..9) %}
        {% assign fullFloor = include.start_floor | minus: 1 | plus: floor %}
        <th class="floorCell" title="Floor {{ fullFloor }}" data-floor="{{ fullFloor }}">
          {{ floor }}
        </th>
      {% endfor %}
      <th title="Agro Type">!</th>
      <th class="textCell">Name</th>
      <th>HP</th>
      <th title="Auto-Attack Damage">AA</th>
      <th colspan="{% if include.resolution_possible %}6{% else %}5{% endif %}">Vulnerabilities</th>
    </tr>
  </thead>
  <tbody>
  {% assign index = 0 %}
  {% assign base_percent = 25 %}
  {% assign gap_percent = 100 | minus: base_percent %}
  {% assign min_hp = include.enemies | map: 'hp' | compact | sort | first | default: 0 %}
  {% assign hp_gap = include.enemies | map: 'hp' | compact | sort | reverse | first | default: base_percent | minus: base_percent | minus: min_hp %}
  {% assign min_attack_damage = include.enemies | map: 'attack_damage' | compact | sort | first | default: 0 %}
  {% assign attack_damage_gap = include.enemies | map: 'attack_damage' | compact | sort | reverse | first | default: base_percent | minus: min_attack_damage %}
  {% for enemy in include.enemies %}
    <tr data-start-floor="{{ enemy.start_floor }}" data-end-floor="{{ enemy.end_floor }}">
      {% for floor in (include.start_floor..ninth_floor) %}
        {% if enemy.start_floor <= floor and enemy.end_floor >= floor %}
          <td class="floorCell enemyFloorIn" data-floor="{{ floor }}" {% if enemy.patrol %}title="Patrol"{% endif %}>
            {% if enemy.patrol %}
              <img src="{{ '/assets/images/agro/patrol.svg' | relative_url }}" alt="Patrol" title="Patrol" width="15" height="24">
            {% endif %}
          </td>
        {% else %}
          <td class="floorCell" data-floor="{{ floor }}"></td>
        {% endif %}
      {% endfor %}
      <td class="agroCell">
        {% case enemy.agro %}
        {% when "Sight" %}
          {% assign agro_image = 'eye.svg' %}
        {% when "Sound" %}
          {% assign agro_image = 'ear.svg' %}
        {% when "Proximity" %}
          {% assign agro_image = 'radar.svg' %} 
        {% else %}
          {% assign agro_image = 'question.svg' %}
        {% endcase %}
        {% assign alt = enemy.agro | default: 'Unknown' | append: ' agro' %}
        <img src="{{ '/assets/images/agro/' | append: agro_image | relative_url }}" alt="{{ alt }}" title="{{ alt }}" width="24" height="24">
      </td>
      <td class="textCell">
        <a href="?enemy={{ index }}#enemies" }}>{{ enemy.name }}{% if enemy.family %} ({{ enemy.family }}){% endif %}</a>
      </td>

      {% if enemy.hp %}
        {% assign hp_percent = enemy.hp | minus: min_hp | times: gap_percent | divided_by: hp_gap | plus: base_percent %}
      {% else %}
        {% assign hp_percent = 0 %}
      {% endif %}
      <td class="hpCell" style="--percent:{{ hp_percent }}%" {% if enemy.hp >= 10000 %}title="{{ enemy.hp }}"{% endif %}>
        {% if enemy.hp >= 10000 %}
          {{ enemy.hp | divided_by: 1000 }}K
        {% else %}
          {{ enemy.hp | default: '?' }}
        {% endif %}
      </td>

      {% if enemy.attack_damage %}
        {% assign attack_percent = enemy.attack_damage | minus: min_attack_damage | times: gap_percent | divided_by: attack_damage_gap | plus: base_percent %}
      {% else %}
        {% assign attack_percent = 0 %}
      {% endif %}
      <td class="attackCell" style="--percent:{{ attack_percent }}%">
        {{ enemy.attack_damage | default: '?' }}
      </td>

      {% for status in site.data.statuses %}
        {% if status == 'resolution' and include.resolution_possible != true %}
          {% continue %}
        {% endif %}
        <td class="iconCell">
          {% assign image = '/assets/images/status/' | append: status %}
          {% if enemy.vulnerabilities[status] == true %}
            {% if status == 'resolution' %}
              {% assign alt = 'Weak to ' %}
            {% else %}
              {% assign alt = 'Vulnerable to ' %}
            {% endif %}
            {% assign alt = alt | append: status %}
          {% elsif enemy.vulnerabilities[status] == false %}
            {% assign image = image | append: '_immune' %}
            {% if status == 'resolution' %}
              {% assign alt = 'Not weak to ' %}
            {% else %}
              {% assign alt = 'Immune to ' %}
            {% endif %}
            {% assign alt = alt | append: status %}
          {% else %}
            {% assign image = image | append: '_unknown' %}
            {% assign alt = status | capitalize | append: ' status unknown' %}
          {% endif %}
          {% assign image = image | append: '.png' | relative_url %}
          <img src="{{ image }}" alt="{{ alt }}" title="{{ alt }}" width="27" height="32">
        </td>
      {% endfor %}
    </tr>
    {% assign index = index | plus: 1 %}
  {% endfor %}
  </tbody>
</table>
</div>
<script src="{{ '/assets/js/enemy_list.js' | relative_url }}"></script>