<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <nav>
      <div id="topnav">
        <div id="navButton" onclick="toggleMenu()">
          ≡
        </div>
      </div>
      <div id="nav" class="">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/intro.html' | relative_url }}">Introduction</a>
        <a href="{{ '/preparation.html' | relative_url }}">Preparation</a>
        <a href="{{ '/pomanders.html' | relative_url }}">Pomanders</a>
        <a href="{{ '/tips.html' | relative_url }}">Tips/Strategy</a>
        <span class="navHeading">PotD Floors</span>
        <ul>
        {% for floorset in site.potd_floorsets %}
          <li>
            <a href="{{ floorset.url }}">{{ floorset.floorset }}-{{ floorset.floorset | plus: 9 }}</a>
          </li>
        {% endfor %}
        </ul>
        <a href="{{ '/contributing.html' | relative_url }}">Contributing</a>
      </div>
    </nav>
    <main class="page-content" aria-label="Content">
      <div id="main">
        {% if page.title %}
          <h1>{{ page.title }}</h1>
        {% endif %}
        {{ content }}
      </div>
    </main>

  </body>

</html>