---
layout: default
---

{{ content }}

<div class="attributeList">
  <div>
    <label>Rooms/floor:
      <span>{{ page.rooms_per_floor | default: 'undetermined' }}</span>
    </label>
  </div>
  <div>
    <label>Enemies/room:
      <span>{{ page.enemies_per_room | default: 'undetermined' }}</span>
    </label>
  </div>
  <div>
    <label>Chests/floor:
      <span>{{ page.chests_per_floor | default: 'undetermined' }}</span>
    </label>
  </div>
  <div>
    <label>Kills/passage:
      <span>{{ page.kills_per_passage | default: 'undetermined' }}</span>
    </label>
  </div>
  <div>
    <label>Mimics:
      <span>{{ page.mimic_type | default: 'undetermined' }}</span>
    </label>
  </div>
  <div>
    <label>Hoard:
      <span>{{ page.hoard_type | default: 'undetermined' }}</span>
    </label>
  </div>
  <div>
    <label>Respawns:
      <span>{{ page.respawns | default: 'undetermined' }}</span>
    </label>
  </div>
</div>

<h2 id=enemies>Enemies</h2>

{% assign enemy_collection = page.dungeon | append: '_' | append: page.floorset | append: '_enemies' %}
{% assign enemies_sorted = site[enemy_collection] | sort: 'end_floor' | sort: 'start_floor' | sort: 'gallery_only' %}
{% assign image_dir = '/assets/images/' | append: page.dungeon | append: '/'
    | append: page.floorset | append: '/' | relative_url %}
<div id="galleryContainer">
  <div class="imagePane">
    {% for enemy in enemies_sorted %}
      {% if enemy.image %}
        <img class="galleryImage" src="{{ image_dir | append: enemy.image }}">
      {% else %}
        <span class="galleryImage">No Image</span>
      {% endif %}
    {% endfor %}
    <div id="galleryLeft" onClick="selectPrevious()">&#10094;</div>
    <div id="galleryRight" onClick="selectNext()">&#10095;</div>
  </div>
  <div id="galleryBottom" class="surfacePane">
    {% for enemy in enemies_sorted %}
      <div class="galleryItem">
        {% include enemy.html enemy=enemy resolution_possible=page.resolution_possible %}
      </div>
    {% endfor %}
    <h4>
      Job-Specific Notes:
      {% include job_select.html %}
    </h4>
    {% for enemy in enemies_sorted %}
      <div class="galleryJobNotes">
        {% for job in site.jobs %}
          <div class="jobSpecific job{{ job }}">
            {% if enemy.job_specifics and enemy.job_specifics[job] %}
              <p>Difficulty: {{ enemy.job_specifics[job].difficulty | default: 'Unrated' }}</p>
              {% assign notes = enemy.job_specifics[job].notes %}
              {% include notes.html notes=notes hide_empty=true %}
            {% else %}
              <p>Difficulty: Unrated</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

<h2>Enemies by Agro Type</h2>

<table class="banded">
  {% for agro_type in site.agro_types %}
    {% assign enemies = '' %}
    {% assign first = true %}
    {% assign index = 0 %}
    {% for enemy in enemies_sorted %}
      {% if enemy.agro == agro_type and enemy.gallery_only != true %}
        {% if first %}
          {% assign first = false %}
        {% else %}
          {% assign enemies = enemies | append: ' • ' %}
        {% endif %}
        {% assign enemies = enemies
          | append: '<a href="#enemies" onclick="selectEnemy(' | append: index | append: ')">'
          | append: enemy.nickname %}
        {% if enemy.patrol %}
          {% assign enemies = enemies | append: ' (patrol)' %}
        {% endif %}
        {% assign enemies = enemies | append: '</a>' %}
      {% endif %}
      {% assign index = index | plus: 1 %}
    {% endfor %}
    <tr>
      <td>{{ agro_type }}:</td>
      <td style="width: 100%;">{% if first %}(None){% else %}{{ enemies }}{% endif %}</td>
    </tr>
  {% endfor %}
</table>

<h2>Enemies by Floor</h2>

<table class="banded">
{% assign ninth_floor = page.floorset | plus: 8 %}
{% for floor in (page.floorset..ninth_floor) %}
  {% assign enemies = '' %}
  {% assign first = true %}
  {% assign index = 0 %}
  {% for enemy in enemies_sorted %}
    {% if enemy.start_floor <= floor and enemy.end_floor >= floor and enemy.gallery_only != true %}
      {% if first %}
        {% assign first = false %}
      {% else %}
        {% assign enemies = enemies | append: ' • ' %}
      {% endif %}
      {% assign enemies = enemies
        | append: '<a href="#enemies" onclick="selectEnemy(' | append: index | append: ')">'
        | append: enemy.nickname %}
      {% if enemy.patrol %}
        {% assign enemies = enemies | append: ' (patrol)' %}
      {% endif %}
      {% assign enemies = enemies | append: '</a>' %}
    {% endif %}
    {% assign index = index | plus: 1 %}
  {% endfor %}
  <tr>
    <td>{{ floor }}:</td>
    <td style="width: 100%;">{{ enemies }}</td>
  </tr>
{% endfor %}
</table>

<h2>Boss: {{ page.boss }}</h2>

<div id="bossPane">
  {% if page.boss_image %}
    <div class="imagePane">
      <img class="surfaceImage" src="{{ image_dir | append: page.boss_image }}">
    </div>
  {% endif %}
  <div class="surfacePane">
    <h4>Notes:</h4>

    {% include notes.html notes=page.boss_notes %}

    <h4>
      Job-Specific Notes:
      {% include job_select.html %}
    </h4>

    {% for job in site.jobs %}
      <div class="jobSpecific job{{ job }}">
          {% assign notes = nil %}
          {% if page.boss_job_specifics and page.boss_job_specifics[job] and page.boss_job_specifics[job].notes %}
            {% assign notes = page.boss_job_specifics[job].notes %}
          {% endif %}
          {% include notes.html notes=notes default='No notes written' %}
          <h4>Job-Specific Kill Times</h4>
          <ul>
            {% if page.boss_job_specifics and page.boss_job_specifics[job] and page.boss_job_specifics[job].timing %}
              {% for note in page.boss_job_specifics[job].timing %}
                <li>{{ note }}</li>
              {% endfor %}
            {% else %}
              <li>No times recorded</li>
            {% endif %}
          </ul>
      </div>
    {% endfor %}
  </div>
</div>